//Example
//$main-bg: #FBEDED

$text-black: #32394B
$text-blue: #00567C
$text-white: #FFFFFF
$text-grey: #606981
$text-cyan: #8DBDCD
$text-discount: #8DBDCD

$accent: #00DF8A
$background-color: #E2FAFE

$thin-text: 100
$light-text: 300
$regular-text: 400
$medium-text: 500
$semi-bold-text: 600
$bold-text: 700
